<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order_manage.mapper.OrderFormMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  order_form 
		WHERE
			 header_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.order_manage.entity.OrderForm">
		SELECT * 
		FROM  order_form
		WHERE
			 header_id = #{mainId} 	</select>
</mapper>
