<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>飞天后台管理系统模板-飞天素材网</title>
<link rel="icon" href="favicon.ico" type="image/ico">
<meta name="keywords" content="后台模板,后台管理系统,HTML模板">
<meta name="description" content="基于Bootstrap后台管理系统的HTML模板">
<meta name="author" content="ftsucai.com">
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/fonts.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
<div class="ftdms-layout-web">
  <div class="ftdms-layout-container">
    <!--左侧导航-->
    <aside class="ftdms-layout-sidebar">

      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="http://www.ftsucai.com"><img src="../static/images/admin_logo.png" /></a>
      </div>

      <div class="ftdms-layout-sidebar-scroll">
        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item active"> <a href="index.html"><i class="ftsucai-82"></i>后台首页</a> </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="ftsucai-UI"></i> UI 元素</a>
              <ul class="nav nav-subnav">
                <li> <a href="ui_buttons.html">按钮</a> </li>
                <li> <a href="ui_cards.html">卡片</a> </li>
                <li> <a href="ui_grid.html">格栅</a> </li>
                <li> <a href="ui_icons.html">图标</a> </li>
                <li> <a href="ui_tables.html">表格</a> </li>
                <li> <a href="pagination.html">分页导航</a> </li>
                <li> <a href="ui_progress.html">进度条</a> </li>
                <li> <a href="ui_tabs.html">选项卡</a> </li>
                <li> <a href="ui_step.html">步骤</a> </li>
                <li> <a href="ui_other.html">其他</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="ftsucai-edit-2"></i> 表单元素</a>
              <ul class="nav nav-subnav">
                <li> <a href="forms_elements.html">基本元素</a> </li>
                <li> <a href="forms_radio.html">单选框</a> </li>
                <li> <a href="forms_checkbox.html">复选框</a> </li>
                <li> <a href="forms_switch.html">开关</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="ftsucai-19"></i> 示例页面</a>
              <ul class="nav nav-subnav">
                <li> <a href="pages_config.html">网站配置</a> </li>
                <li> <a href="pages_permission.html">设置权限</a> </li>
                <li> <a href="pages_add_doc.html">新增文档</a> </li>
                <li> <a href="pages_guide.html">表单向导</a> </li>
                <li> <a href="pages_login.html">登录页面</a> </li>
                <li> <a href="pages_error.html">错误页面</a> </li>
              </ul>
            </li>
			<li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="ftsucai-table"></i> 常用列表</a>
              <ul class="nav nav-subnav">
                <li> <a href="pages_data.html">数据表</a> </li>
                <li> <a href="pages_pbl.html">瀑布流</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="ftsucai-js"></i> 脚本插件</a>
              <ul class="nav nav-subnav">
                <li> <a href="js_datepicker.html">日期选取</a> </li>
                <li> <a href="js_sliders.html">滑块特效</a> </li>
                <li> <a href="js_colorpicker.html">色码选取</a> </li>
                <li> <a href="js_msg.html">对话框</a> </li>
                <li> <a href="js_tags_input.html">标签插件</a> </li>
                <li> <a href="js_notify.html">通知消息</a> </li>
              </ul>
            </li>
			<li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="ftsucai-315"></i> 统计图表</a>
              <ul class="nav nav-subnav">
                <li> <a href="js_chartjs.html">Chartjs</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)"><i class="ftsucai-25"></i> 多级菜单</a>
              <ul class="nav nav-subnav">
                <li> <a href="#">一级菜单</a> </li>
                <li class="nav-item nav-item-has-subnav">
                  <a href="#">一级菜单</a>
                  <ul class="nav nav-subnav">
                    <li> <a href="#">二级菜单</a> </li>
                    <li class="nav-item nav-item-has-subnav">
                      <a href="#">二级菜单</a>
                      <ul class="nav nav-subnav">
                        <li> <a href="#">三级菜单</a> </li>
                        <li> <a href="#">三级菜单</a> </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li> <a href="#">一级菜单</a> </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

    </aside>
    <!--End 左侧导航-->

    <!--头部信息-->
    <header class="ftdms-layout-header">

      <nav class="navbar navbar-default">
        <div class="topbar">

          <div class="topbar-left">
            <div class="ftdms-aside-toggler">
              <span class="ftdms-toggler-bar"></span>
              <span class="ftdms-toggler-bar"></span>
              <span class="ftdms-toggler-bar"></span>
            </div>
            <span class="navbar-page-title"> 后台首页 </span>
          </div>

          <ul class="topbar-right">
            <li class="dropdown dropdown-profile">
              <a href="javascript:void(0)" data-toggle="dropdown">
			    <img class="img-qrcode img-qrcode-46" src="images/ftsucai.png" alt="用户头像" /><span>飞天素材网<span class="caret"></span></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li> <a href="pages_profile.html"><i class="ftsucai-58"></i> 个人信息</a> </li>
                <li> <a href="pages_edit_pwd.html"><i class="ftsucai-edit-2"></i> 修改密码</a> </li>
                <li> <a href="javascript:void(0)"><i class="ftsucai-del-2"></i> 清空缓存</a></li>
                <li class="divider"></li>
                <li><a href="pages_login.html"><i class="ftsucai-exit2"></i> 退出登录</a> </li>
              </ul>
            </li>
          </ul>

        </div>
      </nav>

    </header>
    <!--End 头部信息-->

    <!--页面主要内容-->
    <main class="ftdms-layout-content">

      <div class="container-fluid">

        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-primary">
              <div class="card-body clearfix">
                <div class="pull-left">
                  <p class="h6 text-white m-t-0">今日收入</p>
                  <p class="h3 text-white m-b-0">100,000.00</p>
                </div>
                <div class="pull-right"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="ftsucai-56 fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-danger">
              <div class="card-body clearfix">
                <div class="pull-left">
                  <p class="h6 text-white m-t-0">昨日收入</p>
                  <p class="h3 text-white m-b-0">200,000.00</p>
                </div>
                <div class="pull-right"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="ftsucai-310 fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-success">
              <div class="card-body clearfix">
                <div class="pull-left">
                  <p class="h6 text-white m-t-0">月度累计收入</p>
                  <p class="h3 text-white m-b-0">1000,000.00</p>
                </div>
                <div class="pull-right"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="ftsucai-55 fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-purple">
              <div class="card-body clearfix">
                <div class="pull-left">
                  <p class="h6 text-white m-t-0">年度累计收入</p>
                  <p class="h3 text-white m-b-0">5,000,000.00</p>
                </div>
                <div class="pull-right"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="ftsucai-310 fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4>近七天收入</h4>
              </div>
              <div class="card-body">
                <canvas class="js-chartjs-bars"></canvas>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4>每月收入走势</h4>
              </div>
              <div class="card-body">
                <canvas class="js-chartjs-lines"></canvas>
              </div>
            </div>
          </div>

        </div>

		<div class="row">

          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4>每月收入</h4>
              </div>
              <div class="card-body">
                <canvas class="chartjs-bars"></canvas>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4>每年收入走势</h4>
              </div>
              <div class="card-body">
                <canvas class="chartjs-lines"></canvas>
              </div>
            </div>
          </div>

		  <div class="col-lg-6">
            <div class="card">
              <div class="card-header"><h4>面积图 - 1</h4></div>
              <div class="card-body">
                <canvas id="chart-area-1" width="400" height="250"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header"><h4>面积图 - 2</h4></div>
              <div class="card-body">
                <canvas id="chart-area-2" width="400" height="250"></canvas>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>订单号</th>
                        <th>商品名称</th>
                        <th>下单日期</th>
                        <th>状态</th>
                        <th>处理情况</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-warning">完成</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-warning" style="width: 45%;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-success">发货中</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-success" style="width: 30%;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-warning">待确认</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-warning" style="width: 25%;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-success">发货中</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-success" style="width: 55%;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-danger">待确认</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-danger" style="width: 0%;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-success">发货中</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-success" style="width: 75%;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-danger">已取消</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-danger" style="width: 15%;"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-warning">完成</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
                          </div>
                        </td>
                      </tr>
					  <tr>
                        <td>9</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-warning">完成</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
                          </div>
                        </td>
                      </tr>
					  <tr>
                        <td>10</td>
                        <td>23534536</td>
                        <td>黑色休闲裤</td>
                        <td>2019-05-01</td>
                        <td><span class="label label-warning">完成</span></td>
                        <td>
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>

<!--图表插件-->
<script type="text/javascript" src="js/Chart.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
    var $dashChartBarsCnt  = jQuery( '.js-chartjs-bars' )[0].getContext( '2d' ),
        $dashChartLinesCnt = jQuery( '.js-chartjs-lines' )[0].getContext( '2d' );
		$dashChartBars     = jQuery( '.chartjs-bars' )[0].getContext( '2d' );
		$dashChartLines    = jQuery( '.chartjs-lines' )[0].getContext( '2d' );

    var $dashChartBarsData = {
		labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
		datasets: [
			{
				label: '当前近七天收入',
                borderWidth: 1,
                borderColor: 'rgba(0,0,0,0)',
				backgroundColor: 'rgba(255,0,0,0.7)',
                hoverBackgroundColor: "rgba(255,0,0,1)",
                hoverBorderColor: "rgba(0,0,0,0)",
				data: [2500, 1500, 1200, 3200, 4800, 3500, 1500]
			},
			{
				label: '同期近七天收入',
                borderWidth: 1,
                borderColor: 'rgba(0,0,0,0)',
				backgroundColor: 'rgba(44,62,80,0.7)',
                hoverBackgroundColor: "rgba(44,62,80,1)",
                hoverBorderColor: "rgba(0,0,0,0)",
				data: [2000, 1600, 1800, 3500, 4900, 3800, 1900]
			}
		]
	};

	var $ChartBarsData = {
		labels: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
		datasets: [
			{
				label: '当前每月收入',
                borderWidth: 1,
                borderColor: 'rgba(0,0,0,0)',
				backgroundColor: 'rgba(72,116,207,0.7)',
                hoverBackgroundColor: "rgba(72,176,247,1)",
                hoverBorderColor: "rgba(0,0,0,0)",
				data: [2550, 1550, 1600, 3300, 4800, 3500, 1600, 2510, 2200, 1800, 3900, 1800]
			},
			{
				label: '同期每月收入',
                borderWidth: 1,
                borderColor: 'rgba(0,0,0,0)',
				backgroundColor: 'rgba(170,221,255,0.7)',
                hoverBackgroundColor: "rgba(170,221,255,1)",
                hoverBorderColor: "rgba(0,0,0,0)",
				data: [2050, 1590, 1900, 3000, 4000, 3700, 1800, 2010, 2800, 2100, 3800, 3700]
			}
		]
	};

    var $dashChartLinesData = {
		labels: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
		backgroundColor: ['rgba(255, 0, 0, 0.2)'],
		datasets: [
			{
				label: '每月收入走势',
				data: [20, 25, 40, 30, 45, 40, 55, 40, 48, 40, 42, 50],
				borderColor: '#DA212F',
				backgroundColor: 'rgba(218,33,47, 1)',
                borderWidth: 1,
                fill: false,
                lineTension: 0.5
			},
			{
				label: '每月同期收入走势',
				data: [18, 50, 30, 36, 40, 28, 59, 45, 20, 47, 49, 25],
				borderColor: '#909080',
				backgroundColor: 'rgba(144,144,128, 1)',
                borderWidth: 1,
                fill: false,
                lineTension: 0.5
			}
		]
	};

	var $ChartLinesData = {
		labels: ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
		backgroundColor: ['rgba(255, 0, 0, 0.2)'],
		datasets: [
			{
				label: '每年收入走势',
				data: [50, 55, 60, 40, 45, 40, 65, 40, 68, 20, 72, 60],
				borderColor: '#69cb00',
				backgroundColor: 'rgba(103,203,0, 1)',
                borderWidth: 1,
                fill: false,
                lineTension: 0.5
			},
			{
				label: '每年同期收入走势',
				data: [46, 50, 52, 48, 40, 35, 65, 45, 58, 30, 72, 56],
				borderColor: '#909080',
				backgroundColor: 'rgba(144,144,128, 1)',
                borderWidth: 1,
                fill: false,
                lineTension: 0.5
			}
		]
	};

    new Chart($dashChartBarsCnt, {
        type: 'bar',
        data: $dashChartBarsData
    });

	new Chart($dashChartBars, {
        type: 'bar',
        data: $ChartBarsData
    });

    new Chart($dashChartLines, {
        type: 'line',
        data: $ChartLinesData
    });
    var myLineChart = new Chart($dashChartLinesCnt, {
        type: 'line',
        data: $dashChartLinesData,
    });

new Chart($("#chart-area-1"), {
    type: 'line',
    data: {
        labels: ["01", "02", "03", "04","05", "06", "07", "08","09", "10", "11", "12"],
        datasets: [{
            label: "收入",
            backgroundColor: "rgba(51,202,185,0.5)",
            borderWidth: 0,
            borderColor: "rgba(0,0,0,0)",
            data: [10, 59, 80, 58, 20, 55, 40, 20, 30, 40, 38,45]
        }]
    },
    options: {
        legend: {
            display: false
        },
    }
});

new Chart($("#chart-area-2"), {
    type: 'line',
    data: {
        labels: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"],
        datasets: [{
            label: "收入",
            backgroundColor: "rgba(51,202,185,0.5)",
            borderColor: "rgba(0,0,0,0)",
            pointBackgroundColor: "rgba(51,202,185,0.5)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(51,202,185,0.5)",
            data: [0, 59, 80, 58, 20, 55, 40]
        },
        {
            label: "支出",
            backgroundColor: "rgba(243,245,246,0.8)",
            borderColor: "rgba(0,0,0,0)",
            pointBackgroundColor: "rgba(243,245,246,0.8)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(243,245,246,0.8)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }]
    },
    options: {}
});

});
</script>
<script type="text/javascript" src="../js/baidu.js"></script>
</body>
</html>